<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contactenos</h2>
                    <h3 class="section-subheading text-muted">Desea ser contactado para programar su próximo evento? escríbenos.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                     <script src="https://www.google.com/recaptcha/api.js"></script>

					<form action="https://smartforms.dev/submit/5da9c114e57e9734a3146f94" method="POST" >
					  <div class="control-group">
						<div class="form-group floating-label-form-group controls">
						  <input type="text" class="form-control" placeholder="Nombre" id="name" name="name" required data-validation-required-message="Ingrese su nombre.">
						  <p class="help-block text-danger"></p>
						</div>
					  </div>
					  <div class="control-group">
						<div class="form-group floating-label-form-group controls">
						  <input type="email" class="form-control" placeholder="Correo Electrónico" id="email" name="email" required data-validation-required-message="Ingrese su dirección de correo electrónico.">
						  <p class="help-block text-danger"></p>
						</div>
					  </div>
					  <div class="control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
						  <input type="tel" class="form-control" name="phone" placeholder="Número de teléfono" id="phone" >
						</div>
					  </div>
					  <div class="control-group">
						<div class="form-group floating-label-form-group controls">
						  <textarea rows="8" class="form-control" placeholder="Message" id="message" name="message" required data-validation-required-message="Ingrese un mensaje."></textarea>
						  <p class="help-block text-danger"></p>
						</div>
					  </div>
					  <br>
					  <div id="success"></div>
					  <div class="form-group">
						<button type="submit" class="btn btn-xl" id="sendMessageButtonxxx">Enviar</button>
					  </div>
					  <div class="g-recaptcha" data-sitekey="6Le3Ur4UAAAAAMT6t3xqui06Axg38n6DwZ2_gqcu"></div>
					</form>
                </div>
            </div>
        </div>
    </section>
