<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Productos especializados para eventos familiares o empresariales en el oriente Antioqueño.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-hotdog fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Perros Calientes Enjarra2</h4>
                    <p class="text-muted">Una buena opción, el servicio de perros calientes para fiestas, ideales para fiestas infantiles y eventos de cualquier tipo.</p>
                </div>
				
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gripfire fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Parrillada Marvel's Pig</h4>
                    <p class="text-muted">Tenemos varias opciones de Parrilla, para hacer de tus eventos algo sin igual, cubrimos eventos familiares o empresariales.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-stroopwafel fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Obleas yiyi</h4>
                    <p class="text-muted">El toque dulce en tu evento, un propuesta de reposteria que satisface tus antojos.</p>
                </div>
            </div>
        </div>
    </section>